Source: x11proto-xcmisc
Section: libdevel
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), autoconf, automake, xorg-util-macros (>= 1.2)
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, xorg-util-macros (>= 1.2)
Standards-Version: 3.8.3

Package: x11proto-xcmisc-dev
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: x11-common (>= 1:7.0.0)
Description: X11 XC-Miscellaneous extension wire protocol
 This package provides development headers describing the wire protocol
 for the XC-MISC extension, used to get details of XID allocation within
 the server.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This package is built from the X.org xcmiscproto proto module.
